{% extends "base.html.twig" %}
{% block body %}
    <div class="container pt-5">
        <div class="inner cover">
            <h1 class="cover-heading">YoutubeWEB</h1>
            <p class="lead">Faire un site permettant de noter des vidéos YouTube sur 10 pour afficher des tops</p>
            <p class="lead">
                <a href="{{ path('VideoAvisController.topVideoNombreAvis') }}" class="btn btn-lg btn-default">Solution</a>
            </p>
        </div>
    </div>
{% endblock %}
