{% extends "base.html.twig" %}
{% block title 'TopVideoNote' %}
{% block body %}
    <div class="container" >
        <h1 class="p-5">TopVideoNote</h1>
        <div class="col flex">
            {% for note , video in  videos %}
                <div class="col">
                    <a class="btn btn-default w-100" href="{{ path('VideoAvisController.uniqVideo', {'id' : video.id} ) }}">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/{{ video.url }}?rel=0" allowfullscreen></iframe>
                        </div>
                        <h1 class="font-weight-bold">{{ video.title }} </h1>
                        <p>( {{ note | number_format(2 , '.' , ' ') }} 👍)</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}